.header_button {
    margin-left: 2vw;
    padding: 0.7vw 1vw;
    border-radius: 0.5vw;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background: #212121;
    }
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: #212121;
    top: 2.5vw;
    right: 0;
    border-radius: 1vw;
}

.popup_item {
    padding: 1vw;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background: #16151a;
    }
}

@media (max-width: 767px) {
    .header_button {
        display: none;
    }
}