.container {
    position: absolute;
    bottom: 0;
    right: 1vw;
    background: #2b2a2f;
    border-radius: 1vw;
    width: 12vw;
    z-index: 3;
}

.header {
    display: flex;
    align-items: center;
    padding: 1vw 1vw 0.5vw 0.5vw;
    border-bottom: 1px solid #59595d;
    font-size: 1vw;
    cursor: pointer;
}

.icon {
    padding-right: 0.4vw;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    fill: #59595d;
}

.title {
    color: #59595d;
}

.list {
    max-height: 12vw;
    overflow-y: auto;
}

.item {
    display: flex;
    text-align: center;
    margin: 1.8vw 3vw;
    cursor: pointer;
    &:first-child {
        margin-top: 1vw;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 20vw;
        border-radius: 2vw;
        padding: 1vw;
    }
    .header {
        padding: 0.5vw 2vw 1vw 0.5vw;
    }
    .icon {
        width: 2vw;
        height: 2vw;
    }
    .title {
        font-size: 1.5vw;
    }
    .list {
        max-height: 15vw;
        overflow-y: auto;
    }
    .item {
        font-size: 1.5vw;
        margin: 2vw;
        &:first-child {
            margin-top: 1vw;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 35vw;
        border-radius: 2vw;
        padding: 1vw;
    }
    .header {
        padding: 1.5vw 3vw 2vw 1vw;
    }
    .icon {
        width: 5vw;
        height: 5vw;
    }
    .title {
        font-size: 3.5vw;
    }
    .list {
        max-height: 30vw;
        overflow-y: auto;
    }
    .item {
        font-size: 3.5vw;
        margin: 4vw 6vw;
        &:first-child {
            margin-top: 3vw;
        }
    }
}