.container {
    position: absolute;
    bottom: 3vw;
    background: #2b2a2f;
    border-radius: 1vw;
    z-index: 3;
    width: 14vw;
}

@media (max-width: 1024px) {
    .container {
        width: 20vw;
        max-height: 15vw;
        bottom: 4vw;
        right: 0;
    }
}

@media (max-width: 767px) {
    .container {
        width: 50vw;
        max-height: 25vw;
        border-radius: 3vw;
        bottom: 9vw;
        right: 0;
    }
}