.container {
    display: flex;
    align-items: center;
    margin: 1.5vw;
    cursor: pointer;
}

.title {
    margin-right: 1vw;
}

.value {
    margin-right: 1vw;
}

.icon {
    position: absolute;
    right: 0;
    width: 1vw;
    height: 1vw;
}

@media (max-width: 1024px) {
    .container {
        margin: 2vw;
    }
    .title {
        font-size: 1.5vw;
        margin-right: 1.5vw;
    }
    .value {
        font-size: 1.5vw;
    }
    .icon {
        width: 2vw;
        height: 2vw;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 4vw;
    }
    .title {
        font-size: 3.5vw;
        margin-right: 3vw;
    }
    .value {
        font-size: 3.5vw;
    }
    .icon {
        width: 4vw;
        height: 4vw;
    }
}